# Python cache, bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.env.*
.venv/
venv/
env/
venv.bak/

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Test / coverage
.pytest_cache/
.coverage
coverage/
htmlcov/

# Jupyter
.ipynb_checkpoints

# IDE / editor
.vscode/
.idea/
*.sublime-*
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Type check / caches
.mypy_cache/
.pyre/

# Misc
*.log
*.pid
*.sqlite3
celerybeat-schedule